<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebase.mapper.AgreementMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.base.AgreementPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <resultMap id="AgreementVOMap" type="com.ai.basecommon.core.vo.base.AgreementVO">
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
    </resultMap>


    <select id="findByType" resultMap="AgreementVOMap">
        select * from tw_agreement where type = #{type} limit 1
    </select>



</mapper>
