<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebase.mapper.BlacklistDeviceMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.base.BlacklistDevicePO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    </resultMap>


    <select id="existByDeviceId" resultType="int">
        select count(1) from tw_blacklist_device where device_id = #{deviceId}
    </select>

    <insert id="insert">
        insert into tw_blacklist_device(device_id) values (#{deviceId})
    </insert>





</mapper>
