<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.basewebsocket.mapper.DeviceInfoMapper">

    <select id="countByUserIdYmd" resultType="int">
        select count(1) from tw_device_info where user_id = #{userId} and ymd = #{ymd};
    </select>



</mapper>
