<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebusiness.mapper.ShopMapper">


    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.shop.ShopPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="cate_id" jdbcType="BIGINT" property="cateId" />
        <result column="is_virtual" jdbcType="INTEGER" property="isVirtual" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="is_del" jdbcType="INTEGER" property="isDel" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <resultMap id="ShopVOMap" type="com.ai.basecommon.core.vo.shop.ShopVO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="cate_id" jdbcType="BIGINT" property="cateId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="is_virtual" jdbcType="INTEGER" property="isVirtual" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>

    <resultMap id="ShopDetailVOMap" type="com.ai.basecommon.core.vo.shop.ShopDetailVO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="is_virtual" jdbcType="INTEGER" property="isVirtual" />
    </resultMap>


    <select id="select" resultMap="ShopVOMap">
        select id,cate_id,name,image,price,amount,is_virtual,sort
        from tw_shop
        where status = 1 and is_del = 0 and cate_id = #{cateId}
        order by sort desc,id desc
        <if test="page != null and page != 0">
            limit #{begin},#{limit}
        </if>
    </select>

    <select id="selectAll" resultMap="ShopVOMap">
        select id,cate_id,name,image,price,amount,is_virtual,sort
        from tw_shop
        where status = 1 and is_del = 0
    </select>


    <select id="selectRecommend" resultMap="ShopVOMap">
        select id,cate_id,name,image,price,amount,sort
        from tw_shop
        where status = 1 and is_recommend = 1
        order by sort desc,id desc
    </select>


    <select id="selectGift" resultMap="ShopVOMap">
        select s.id,s.cate_id,s.name,s.image,s.price,s.amount,s.is_virtual,s.sort
        from tw_gift g
                 inner join tw_shop s on g.shop_id = s.id
        where g.status = 1 order by s.sort desc,s.id desc
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select * from tw_shop where is_del = 0 and id = #{id}
    </select>

    <select id="findDetailById" resultMap="ShopDetailVOMap">
        select id,name,image,content,price,amount,is_virtual from tw_shop where is_del = 0 and status = 1 and id = #{id}
    </select>

    <select id="findVO" resultMap="ShopVOMap">
        select id,cate_id,name,image,price,amount,is_virtual,sort
        from tw_shop where is_del = 0 and status = 1 and id = #{id}
    </select>



</mapper>
