<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebusiness.mapper.ShopCateMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.shop.ShopCatePO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <resultMap id="ShopCateVOMap" type="com.ai.basecommon.core.vo.shop.ShopCateVO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>

    <select id="select" resultMap="ShopCateVOMap">
        select id,name,sort from tw_shop_cate where status = 1 order by sort desc
    </select>



</mapper>
