<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebusiness.mapper.ShopOrderMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.shop.ShopOrderPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="sum_energy" jdbcType="INTEGER" property="sumEnergy" />
        <result column="sum_amount" jdbcType="DECIMAL" property="sumAmount" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_image" jdbcType="VARCHAR" property="shopImage" />
        <result column="shop_content" jdbcType="VARCHAR" property="shopContent" />
        <result column="shop_cate_id" jdbcType="BIGINT" property="shopCateId" />
        <result column="shop_price" jdbcType="INTEGER" property="shopPrice" />
        <result column="shop_is_virtual" jdbcType="INTEGER" property="shopIsVirtual" />
        <result column="addr_receiver" jdbcType="VARCHAR" property="addrReceiver" />
        <result column="addr_mobile" jdbcType="VARCHAR" property="addrMobile" />
        <result column="addr_province" jdbcType="VARCHAR" property="addrProvince" />
        <result column="addr_city" jdbcType="VARCHAR" property="addrCity" />
        <result column="addr_district" jdbcType="VARCHAR" property="addrDistrict" />
        <result column="addr_detail" jdbcType="VARCHAR" property="addrDetail" />
        <result column="addr_code" jdbcType="INTEGER" property="addrCode" />
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode" />
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName" />
        <result column="delivery_number" jdbcType="VARCHAR" property="deliveryNumber" />
        <result column="is_gift" jdbcType="INTEGER" property="isGift" />
        <result column="gift_code" jdbcType="VARCHAR" property="giftCode" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="delivery_time" jdbcType="BIGINT" property="deliveryTime" />
        <result column="finish_time" jdbcType="BIGINT" property="finishTime" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <resultMap id="ShopOrderVOMap" type="com.ai.basecommon.core.vo.shop.ShopOrderVO">
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="sum_energy" jdbcType="INTEGER" property="sumEnergy" />
        <result column="sum_amount" jdbcType="DECIMAL" property="sumAmount" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_image" jdbcType="VARCHAR" property="shopImage" />
        <result column="shop_is_virtual" jdbcType="INTEGER" property="shopIsVirtual" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>



    <insert id="insertGetId" useGeneratedKeys="true" keyProperty="id">
        insert into tw_shop_order (order_id,shop_id,user_id,num,price,amount,sum_energy,sum_amount,shop_name,shop_image,shop_content,shop_cate_id,shop_price,shop_is_virtual,addr_receiver,addr_mobile,addr_province,addr_city,addr_district,addr_detail,addr_code,source,is_gift,gift_code,link_order_id,status,create_time,update_time)
        values (#{orderId},#{shopId},#{userId},#{num},#{price},#{amount},#{sumEnergy},#{sumAmount},#{shopName},#{shopImage},#{shopContent},#{shopCateId},#{shopPrice},#{shopIsVirtual},#{addrReceiver},#{addrMobile},#{addrProvince},#{addrCity},#{addrDistrict},#{addrDetail},#{addrCode},#{source},#{isGift},#{giftCode},#{linkOrderId},#{status},#{createTime}, #{updateTime})
    </insert>




    <select id="findByOrderId" resultMap="BaseResultMap">
        select *
        from tw_shop_order
        where is_del = 0 and order_id = #{orderId}
    </select>


    <select id="myOrder" resultMap="ShopOrderVOMap">
        select order_id,num,price,amount,sum_energy,sum_amount,shop_name,shop_image,shop_is_virtual,status
        from tw_shop_order
        where is_del = 0 and user_id = #{userId} and status = #{status}
        order by create_time desc
        <if test="page != null and page != 0">
            limit #{begin},#{limit}
        </if>
    </select>


    <update id="confirm">
        update tw_shop_order set finish_time = #{time},status = 3 where order_id = #{orderId}
    </update>





</mapper>
