<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.servicebusiness.mapper.UserAddrMapper">

	<resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.user.UserAddrPO">
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="receiver" jdbcType="VARCHAR" property="receiver" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="district" jdbcType="VARCHAR" property="district" />
		<result column="detail" jdbcType="VARCHAR" property="detail" />
		<result column="code" jdbcType="INTEGER" property="code" />
		<result column="is_default" jdbcType="INTEGER" property="isDefault" />
		<result column="create_time" jdbcType="BIGINT" property="createTime" />
		<result column="update_time" jdbcType="BIGINT" property="updateTime" />
	</resultMap>

	<select id="findDefaultAddr" resultMap="BaseResultMap">
		select * from tw_user_addr where is_default = 1 and user_id = #{userId} limit 1
	</select>



</mapper>
