<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.BlacklistTelMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.base.BlacklistTelPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="tel" jdbcType="CHAR" property="tel" />
    </resultMap>


    <select id="existByTel" resultType="int">
        select count(1) from tw_blacklist_tel where tel = #{tel}
    </select>

    <insert id="insert">
        insert into tw_blacklist_tel(tel) values (#{tel})
    </insert>



</mapper>
