<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.ForestConfigMapper">


	<resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.forest.ForestConfigPO">
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="day_limit_water" jdbcType="INTEGER" property="dayLimitWater" />
		<result column="day_limit_fertilize" jdbcType="INTEGER" property="dayLimitFertilize" />
		<result column="create_time" jdbcType="BIGINT" property="createTime" />
		<result column="update_time" jdbcType="BIGINT" property="updateTime" />
	</resultMap>

	<select id="find" resultMap="BaseResultMap">
		select * from tw_forest_config limit 1
	</select>




</mapper>
