<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.InviteAuthRecordMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.user.InviteAuthRecordPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="child_user_id" jdbcType="BIGINT" property="childUserId" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <insert id="insert">
        insert into tw_invite_auth_record (user_id,child_user_id,create_time,update_time)
        values (#{userId},#{childUserId},#{createTime}, #{updateTime})
    </insert>


    <select id="countByTime" resultType="int">
        select count(1) from tw_invite_auth_record where user_id = #{userId} and create_time &gt; #{time}
    </select>


</mapper>
