<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.SeasonUserMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.user.SeasonUserPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="expire_time" jdbcType="BIGINT" property="expireTime" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>


    <insert id="insert">
        insert into tw_season_user (user_id,expire_time,create_time,update_time)
        values (#{userId}, #{expireTime},#{createTime}, #{updateTime})
    </insert>


    <select id="findByUserId" resultMap="BaseResultMap">
        select * from tw_season_user where user_id = #{userId}
    </select>


    <update id="updateRenew">
        update tw_season_user set status = 1,expire_time = #{expireTime},update_time = #{updateTime} where id = #{id}
    </update>



</mapper>
