<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.SeasonRecordMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.user.SeasonRecordPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="season_type" jdbcType="INTEGER" property="seasonType" />
        <result column="days" jdbcType="INTEGER" property="days" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>


    <insert id="insertGetId" useGeneratedKeys="true" keyProperty="id">
        insert into tw_season_record (user_id,season_type,days,amount,create_time,update_time)
        values (#{userId}, #{seasonType},#{days},#{amount},#{createTime}, #{updateTime})
    </insert>



</mapper>
