<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.serviceuser.mapper.SysConfBlessingCardMapper">

    <resultMap id="BaseResultMap" type="com.ai.basecommon.core.po.base.SysConfBlessingCardPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="conditions" jdbcType="VARCHAR" property="conditions" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
         select * from tw_sys_conf_blessing_card
    </select>




</mapper>
